body{
    margin: 0%;
    padding: 0%;
}

.container-fluid1{
    height: 100%;
    background-image: url("../images/Nike\ \(1\).png");
    background-position: 50% 30%;
    background-repeat: no-repeat;

}

.actions{
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 10px;
    margin-bottom: 25px;
}

.actions div{
    border: 2px solid black;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actions div i{
    font-size: 36px;
}

/* Add your styling for the heart icon */
.heart {
    color: black; /* Default color */
    cursor: pointer;
  }
  
  .heart.liked {
    color: red; /* Color when liked/toggled */
  }
  

.display{
    text-align: center;
    height: 55vh;
}

.display img{
    width: 75%;
    margin-top: 20px;
    transition: transform 2.3s ease; /* Add a smooth transition effect */
}
  
.display img:hover {
    transform: scale(1.5); /* Increase the scale (zoom) on hover */
  }



 .start{
    transition: transform 0.3s ease; /* Add a smooth transition effect */
    transform: scale(1.5); /* Increase the scale (zoom) on hover */
}
.finish{
    transition: transform 0.3s ease; /* Add a smooth transition effect */
    transform: scale(1); /* Increase the scale (zoom) on hover */
}

.price_div{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.color_div{
    display: flex;
}
.color_div div{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 5px;
    border: 2px solid black
}
.white{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: aliceblue;
    margin: 5px;
    border: 2px solid black
}
.black{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: black;
    margin: 5px;
    border: 2px solid black
}

.collection_menu1{
    margin-bottom: 50px;
}

.categories{
    overflow: auto;
    white-space: nowrap;
    margin-top: 20px;
    padding-left: 20px;
}

.categories div{
    width: 100px;
    border-radius: 30px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 36px;
    border: 2px solid #292929;
    display: inline-block;
    margin-right: 10px;
}


.categories div:hover{
    border: 2px solid white;
    opacity: 0.5; 
}




.cart_div{
    border-radius: 40px;
    background-color: #292929;
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 95%;
    height: 75px;
    color: aliceblue;
    padding: 15px;
}

.cart{
    background-color: aliceblue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
}

.price{
    color: aliceblue;
}