nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin:12px 0px 12px 0px ;
}

nav .fa-home, nav .fa-bell, nav .fa-heart, nav .fa-cart-shopping{
    font-size: 32px;
}